[submodule "libs/stdxx"]
	path = libs/stdxx
	url = https://github.com/JeneLitsch/stdxx.git
[submodule "libs/sfml"]
	path = libs/sfml
	url = git@github.com:SFML/SFML.git
[submodule "libs/nanocomp"]
	path = libs/nanocomp
	url = git@github.com:JeneLitsch/nanocomp.git
